services:
  core:
    container_name: InkFox-Bot
    #### prod ####
    image: sengokucola/maibot:latest
    # image: infinitycat/maibot:latest
    #### dev ####
    # image: sengokucola/maibot:dev
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./docker-config/mmc/.env:/InkFox/.env # 持久化env配置文件
      - ./docker-config/mmc:/InkFox/config # 持久化bot配置文件
      - ./data/InkFox/maibot_statistics.html:/InkFox/maibot_statistics.html #统计数据输出
      - ./data/InkFox:/InkFox/data # 共享目录
      - ./data/InkFox/plugins:/InkFox/plugins # 插件目录
      - ./data/InkFox/logs:/InkFox/logs # 日志目录
    restart: always
    networks:
      - mofox
  napcat:
    environment:
      - NAPCAT_UID=1000
      - NAPCAT_GID=1000
      - TZ=Asia/Shanghai
    ports:
      - "6099:6099"
    volumes:
      - ./docker-config/napcat:/app/napcat/config # 持久化napcat配置文件
      - ./data/qq:/app/.config/QQ # 持久化QQ本体
      - ./data/InkFox:/InkFox/data # 共享目录
    container_name: maim-bot-napcat
    restart: always
    image: mlikiowa/napcat-docker:latest
    networks:
      - mofox

  # chat2db占用相对较高但是功能强大
  # 内存占用约600m，内存充足推荐选此
  # chat2db:
  #   image: chat2db/chat2db:latest
  #   container_name: maim-bot-chat2db
  #   restart: always
  #   ports:
  #     - "10824:10824"
  #   volumes:
  #     - ./data/InkFox:/data/InkFox
  #   networks:
  #     - mofox
volumes:
  site-packages:
networks:
  mofox:
    driver: bridge
